html {
  background-color: black;
}

#bg {
  position: fixed;
  right: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;
}

.content {
  position: relative;
  font-family: helvetica, sans-serif;
  color: white;
  background-color: black;
  padding: 20px;
  margin-top: 5%;
  margin-left: 8.09%;
  margin-right: -10px;

  a {
    color: white;
    text-decoration: none;
  }

  a:hover {
    color: #fde74c;
  }
}

.title {
  font-weight: bold;
  font-size: 20px;
}

.description {
  font-size: 16px;

  a {
    font-weight: bold;
  }
}

.social-media-icons {
  font-size: 16px;

  a {
    padding-right: 5px;
  }
}
